.gitBox{
  /* border:1px solid; */
  /* padding:1rem; */
  margin:0 auto 10rem;
  width:85%;
}

#gitContent{
  display:flex;
  flex-direction:column;
  grid-gap:1rem;
}

.contactbox-light, .contactbox-dark{
  display:flex;
  grid-gap:.5rem;
  width:100%;
  padding:1rem;
  border-radius:1rem;
}

.contactbox-light{
  background:#f6fcff;
}
.contactbox-dark{
  background:#222;
  background: #070733; /* navy blue */
}

#contactIconBox{
  width:fit-content;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

#contactIconBox img{
  height:2.5rem;
  border-radius:100px;
}

#nameandlinkbox{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

#contactname-light, #contactname-dark{
  font-size:14px;
}

#contactname-dark{
  color:#aaa;
}


#contactsrc-light a, #contactsrc-dark a{
  font-size:1em;
  font-weight: bold;
  text-decoration: none;
}

#contactsrc-light a{
  color:#143b14;
}
#contactsrc-dark a{
  color:#bbb;
}


#contactsrc-light a:hover{
  color:#000;
  text-decoration:underline;
}

#contactsrc-dark a:hover{
  color:#f2f2f2;
  text-decoration:underline;
}



@media only screen and (min-width:800px) {
  #gitContent{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:space-between;
    width:100%;
    margin: auto;
  }

  .contactbox{
    width:100%;
    padding:1rem;
    border-radius:1rem;
    border:1px solid #eee;
    background:#f6fcff;
  }

  #contactIconBox img{
    height:3.5rem;
  }

  #contactsrc-light a, #contactsrc-dark a{
    font-size:1.1em;
  }

}


@media only screen and (min-width:1000px){
  #gitContent{
    grid-template-columns: repeat(3, 1fr);
  }
}