#navbar-box-light, #navbar-box-dark{
    /* box-shadow:  3px 3px 1px #f8f8f8,
  -3px -3px 1px #eee; */
  position: fixed;
  width: 100%;
  top:0;
  z-index:6;
  padding:1.3rem 0;
}

#navbar-box-light{
  background: #f3feffea !important;
}

#navbar-box-dark{
  background: #101010 !important;
}



#apg1-light, #apg2-light, #apg1-dark, #apg2-dark{
  font-weight: bolder;
  letter-spacing:1px;
  cursor: pointer;
}

#apg2-light, #apg2-dark{
  display: none;
}

#navitem{
  display: none;
}

#apg1-light, #apg1-dark{
  font-size:14px;
  /* border: 1px solid; */
}




/* Light Mode */
#apg1-light, #apg2-light{
  color:#063306ea;
}

/* Dark Mode */
#apg1-dark, #apg2-dark{
  color:#aaa;
}

#special-nav{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
}



/* iPad */
@media only screen and (min-width:700px){
  #apg1-light, #apg1-dark{
    margin-left:2rem;
  }
}




/* Desktop */
@media only screen and (min-width:1000px){
  #navbar-box{
    padding:.8rem 0;
  }

  #apg1-light, #apg1-dark{
    display: none;
  }
  #apg2-light, #apg2-dark{
    display: block;
    margin-left:2rem;
    font-size:15px;
  }

  /* #linksbox1{
    display: none;
  } */
  #linksbox2{
    display:flex;
  }

  #navitem{
    display: block;
  }



  #nav-link-light, #nav-link-dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold !important;
  }



  /* Light Mode */
  #nav-link-light{
    color:#777 !important;
  }
  #nav-link-light:hover{
    color:#333 !important;
  }


  /* Dark Mode */
  #nav-link-dark{
    color: #aaa;
  }
  #nav-link-dark:hover{
    color: #f2f2f2;
  }
}