#contentBox{
  margin:0 auto;
}

.intro{
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
}


.intropicbox{
  text-align: center;
}


#intropic{
  height:10rem;
  width:10rem;
  border-radius:100%;
}


.intromsgbox{
  /* border:1px solid red; */
  margin-top:1.5rem;
}

.hello-light, .hello-dark{
  font-size:17px;
  letter-spacing:1px;
  font-family: Fira Code;
  /* font-weight: bold; */
  margin-bottom:.5rem;
  text-align: center;
  color:#444;
}

.hello-dark{
  color:#bbb;
}

.wave{
  display: inline-block;
  animation: wave .3s infinite alternate;
  width:max-content;
  font-weight: bold;
}



.intromsg-light, .intromsg-dark{
  font-size:2.6em;
  font-weight: bold;
  font-family: Kanit;
  letter-spacing:1px;
  line-height:2.9rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,.1);
  /* border: 1px solid; */
  width:auto;
  text-align: center;
}

.intromsg-light{
  color:#0a4d0a;
}
.intromsg-dark{
  color:#c5c5c5;
}



#word1, #word2{
  color:#0dcc0d;
  font-family: Kanit;
}


#introFooter{
  margin-top:1.8rem;
  text-align: center;
  /* border: 1px solid; */
}


#projIcon{
  margin-left:.5rem;
}

.introIcons a img{
  height:2.5em;
  transition:0.3s ease-out 60ms;
  cursor: pointer;
  margin-right:.3rem;
  /* transform: rotate(-3deg); */
}

.introIcons a img:hover{
  transform:scale(1.2);
}


@media only screen and (min-width:700px){
  
  .hello-light, .hello-dark{
    font-size:23px;
  }

  .intromsg-light, .intromsg-dark{
    font-size:3.5em;
    line-height:4.5rem;
    letter-spacing:2px;
  }

}


@media only screen and (min-width:1200px){
  .intro{
    flex-direction: row;
    flex-direction: row-reverse;
    grid-gap:2rem;
    align-items:center;
    justify-content: center;
    margin:auto;
  }

  .intromsgbox{
    /* border:1px solid red; */
    margin-top:0;
  }



  #intropic{
    height:16rem;
    width:16rem;
  }

  .hello-light, .hello-dark{
    text-align:start;
  }

  .intromsg-light, .intromsg-dark{
    text-align:justify;
    font-size:4em;
  }

  #introFooter{
    text-align:start;
  }
}


@keyframes wave {
  from{
    transform:rotate(-50deg);
  }
  to{
    transform:rotate(-30deg);
  }
}

@keyframes ikot {
  from{
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}