@use '../../src/App';


#gitContent{
  display:flex;
  flex-direction:column;
  grid-gap:1rem;

  .contactbox{
    display:flex;
    grid-gap:.5rem;
    width:100%;
    padding:1rem;
    border-radius:5px;
  
    #contactIconBox{
      width:fit-content;
      display: flex;
      flex-direction:column;
      justify-content: center;
  
      img{
        height:2.5rem;
        border-radius:100px;
      }
    }
  
    #nameandlinkbox{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
  
      #contactname{
        font-size:14px;
        color: #cdcdcd;
      }
      
      #contactsrc{
        a{
          font-size:1.1em;
          font-weight: bold;
          text-decoration: none;
          color:#cdcdcd;
        } 
      }
    }
  }  
}



@media only screen and (min-width:767px) {
  #gitContent{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:space-between;
    width:100%;
    margin: auto;

    .contactbox{
      #contactIconBox {
        img{
          height:3.5rem;
        }
      }
    }
  }
}


@media only screen and (min-width:1000px){
  #gitContent{
    grid-template-columns: repeat(3, 1fr);
  }
}

