.dropdown-menu{
  left:1rem !important;
  background: #777777e3 !important;
  border: none !important;
}

.dropdown-menu li a{
  color:#fff;
  padding: 1rem;
}

.dropdown-menu li a:hover{
  /* font-weight: bold !important; */
  /* border: 1px solid #777; */
  background-color: #bbb;
  color:#fff;
}