.expBox-light, .expBox-dark{
  display: flex;
  flex-direction: column;
  width:100%;
}

.expBox-dark{
  color:#bbb;
}


#role{
  font-size:19px;
}

.expBox-light p, .expBox-dark p{
  margin-top:1rem;
}


@media only screen and (min-width: 700px){
  .expBox-light, .expBox-dark{
    width:75%;
  }
}

@media only screen and (min-width:1200px){
  .expBox-light, .expBox-dark{
    width:50%;
  }
}