/* #navbar-box-light, #navbar-box-dark{
  width:88%;
  margin: auto;
  padding:1.3rem 0 !important;
} */

#navbar-box-light, #navbar-box-dark{
  position: fixed;
  top:0;
  z-index:6;
  width:88%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding:1.3rem 0 !important;
}


#navbar-box-light{
  background: #f3feffea !important;
  background: #ecf7fc  !important;
  /* background: transparent !important; */
  /* border-bottom: 1px solid #eee; */
}

#navbar-box-dark{
  background: #101010 !important;
  background: transparent !important;
  background: #05051e !important;
  /* border-bottom: 1px solid #161616;
  border-bottom: 1px solid #070728; */
}



#apg1-light, #apg2-light, #apg1-dark, #apg2-dark{
  font-weight: bolder;
  letter-spacing:1px;
  cursor: pointer;
}

#apg2-light, #apg2-dark{
  display: none;
}

#navitem{
  display: none;
}

#apg1-light, #apg1-dark{
  font-size:14px;
  display: flex;
  align-items:center;
  grid-gap:6px;
}

#apg1-light:hover{
  color:#000;
}

#apg1-dark:hover{
  color:#eee;
}




/* Light Mode */
#apg1-light, #apg2-light{
  color:#063306ea;
}

/* Dark Mode */
#apg1-dark, #apg2-dark{
  color:#aaa;
}

#special-nav{
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
  padding:0 0 0 1rem;
}



/* iPad */
@media only screen and (min-width:700px){
  #navbar-box-light, #navbar-box-dark{
    width:90%;
  }
  
}




/* Desktop */
@media only screen and (min-width:1200px){
  #navbar-box-light, #navbar-box-dark{
    /* padding:1.2rem 10.5rem !important; */
    width:72%;
    /* border:1px solid; */
  }

  #apg1-light, #apg1-dark{
    display: none;
  }
  #apg2-light, #apg2-dark{
    display: block;
    font-size:15px;
    /* border: 1px solid; */
  }

  /* #linksbox1{
    display: none;
  } */
  #linksbox2{
    display:flex;
    /* border: 1px solid; */
  }

  #navitem{
    display: block;
    /* border: 1px solid; */
  }



  #nav-link-light, #nav-link-dark{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold !important;
  }



  /* Light Mode */
  #nav-link-light{
    color:#777 !important;
  }
  #nav-link-light:hover{
    color:#333 !important;
  }
  #nav-link-light-active{
    color:#333 !important;
    color:#13a113 !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold !important;
  }



  /* Dark Mode */
  #nav-link-dark{
    color: #aaa;
  }
  #nav-link-dark:hover{
    color: #f2f2f2;
  }
  #nav-link-dark-active{
    color:#f2f2f2 !important;
    color:#0fdd0f !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold !important;
  }

}