.tech{
  display:grid;
  grid-template-rows:repeat(3, 1fr);
  /* justify-content: center; */
  grid-gap:4em;
  /* border: 1px solid; */
}


.skillbox{
  font-weight:normal;
  /* border:1px solid #ccc; */
  border-radius:5px;
  width: auto;
  /* background:#f6fcff; */
  text-align:center;
  /* padding:1.5rem; */
  /* background: #e0e0e0; */
  /* box-shadow:  3px 3px 5px #e0e0e0,
  -3px -3px 5px #f0f0f0; */
}

/* .skillbox:hover{
  background:#add1e61a;
} */


.skillabel-l, .skillabel-d{
  font-size:16px;
  margin-bottom:1rem;
  padding:5px;
  font-weight: bold;
  /* border:1px solid; */
  text-align: start;
}

.skillabel-l{
  color:#333;
}

.skillabel-d{
  color:#aaa;
}




.skillabel-l i, .skillabel-d i{
  /* color:#2fff4b; */
  margin-left:5px !important;
}


.icons-holder{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap:1rem;

  justify-content: flex-start;
  /* align-items: flex-start; */
  /* border:1px solid */
}

.iconbox-light, .iconbox-dark{
  transition:.3s ease-out 60ms;
  cursor:pointer;
  padding:6px;
  background:#444;
  border-radius:8px;
}

.iconbox-light{
  background:#444;
}
.iconbox-dark{
  background: #222;
}

.iconbox-light:hover,.iconbox-dark:hover{
  transform: scale(1.2);
}

#alt{
  color:#444;
  color:#f2f2f2;
  font-size: 12px;
  text-align: center;
  padding:0;
}


#icons > img{
  height:3rem;
  text-align: center;
}



@media only screen and (min-width:700px){

  .tech{
      display:grid;
      grid-template-columns:repeat(2, 1fr);
      grid-template-rows:none;
      grid-gap:2rem;
      /* border:1px solid; */
  }


  .skillabel-l, .skillabel-d{
      font-size:16px;
      /* border:1px solid; */
      padding:5px;
      font-weight:bold;
  }

  .skillabel-l i, .skillabel-d i{
      /* color:#2fff4b; */
      margin-left:5px;
  }
}


@media only screen and (min-width:1200px){
  .tech{
      display:grid;
      grid-template-columns:repeat(3, 1fr);
      grid-gap:6rem;
      /* width:75%; */
      /* flex-wrap: wrap; */
      /* grid-gap:30px; */
      /* border:1px solid; */
  }
}