.tech{
  display:grid;
  grid-template-rows:repeat(3, 1fr);
  justify-content: center;
  grid-gap:30px;
}


.skillbox{
  font-weight:normal;
  border:1px solid #eee;
  border-radius:5px;
  background:#f6fcff;
  text-align:center;
  padding:30px;
  /* background: #e0e0e0; */
  /* box-shadow:  3px 3px 5px #e0e0e0,
  -3px -3px 5px #f0f0f0; */
}

/* .skillbox:hover{
  background:#add1e61a;
} */


.skillabel{
  font-size:16px;
  text-align: center;
  margin-bottom:40px;
  padding:5px;
  color:#333;
  font-weight: bold;
  /* border:1px solid; */
}

.skillabel > i{
  /* color:#2fff4b; */
  margin-left:5px !important;
}


.icons-holder{
  display: grid;
  grid-template-columns:repeat(3, auto);
  grid-gap:1.5rem;

  justify-content: center;
  /* border:1px solid */
}

.icons-holder > div{
  transition:.3s ease-out 60ms;
  cursor:pointer;
  padding:0;
}

.icons-holder > div:hover{
  transform: scale(1.2);
}

#alt{
  color:#444;
  font-size: 12px;
  text-align: center;
  padding:0;
}

#icons > img{
  height:3rem;
  text-align: center;
}



@media only screen and (min-width:700px){

  .tech{
      display:grid;
      grid-template-columns:repeat(2, 1fr);
      grid-template-rows:none;
      grid-gap:30px;
      /* border:1px solid; */
  }

  .skillbox{
      padding:30px;
      /* border:1px solid #ffffff7a;  */
  }


  .skillabel{
      font-size:16px;
      /* border:1px solid; */
      padding:5px;
      text-align:center;
      font-weight:bold;
  }

  .skillabel > i{
      /* color:#2fff4b; */
      margin-left:5px;
  }
}


@media only screen and (min-width:1200px){
  .tech{
      display:grid;
      grid-template-columns:repeat(3, 1fr);
      grid-template-rows:none;
      /* grid-gap:30px; */
      /* border:1px solid; */
  }
}