*{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: .3s !important;
}

:root {
  --background-color: #b4daf03d !important; /* Default light background color */
  --text-color: black; /* Default light text color */
}

body {
  background-color: var(--background-color) !important;
}

body.dark-mode {
  --background-color: #111 !important;
}


.landing{  /* nav landing*/
  padding:4rem 0;
  color: #ffffff00;
  /* color: #000000;
  border: 1px solid; */
  font-size:0;
}

.contentBox{
  /* padding:1rem; */
  margin:auto;
  width:88%;
  /* border: 1px solid; */
}

.title-light, .title-dark{
  font-size:2rem;
  font-weight: bold;
  /* border:1px solid gray; */
  /* text-align: center; */
  color: #0a4d0a;
  text-shadow: 2px 4px 3px rgba(0,0,0,.1);
}

.title-light{
  color: #0a4d0a;
}
.title-dark{
  color: #0dcc0d;
}

.descript-light, .descript-dark{
  /* border:1px solid green;  */
  margin:.2rem 0 0;
  font-size:.9rem;
}

.descript-light{
  color:#555;
}
.descript-dark{
  color:#aaa;
}

.content{
  margin:2rem 0 0;
}

#hline{
  color:#f5f5f5;
}



/* iPad POV */
@media only screen and (min-width:700px){
  .contentBox{
    width: 90%;
  }

}



/* Desktop POV */
@media only screen and (min-width:1000px){
  /* .contentBox{
    margin:10rem auto;
  } */

  .landing{  /* nav landing*/
    padding:4rem 0;
  }

  .title{
    font-size:40px;
  }

  .descript{
    font-size:1.05rem;
  }
}