*{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: .3s;
}

body{
  background: #b4daf03d !important;
  padding:0;
  margin:0;
}

.landing{  /* nav landing*/
  /* border: 1px solid; */
  padding:2.5rem 0;
  color: #ffffff00;
  font-size:0;
}

.contentBox{
  /* padding:1rem; */
  margin:0 auto 30rem;
  width:85%;
}

.title{
  font-size:50px;
  font-weight: bold;
  /* border:1px solid gray; */
  text-align: center;
  color: #00a100;
  text-shadow: 2px 4px 3px rgba(0,0,0,.1);
}

.descript{
  /* border:1px solid green; */ 
  margin:.2rem 0 0;
  text-align: center;
  color:#555;
}

.content{
  margin:3rem 0 0;
  /* border:1px solid; */
}

#hline{
  color:#f5f5f5;
}



/* iPad POV */
@media only screen and (min-width:700px){
  .contentBox{
    margin:0 auto 12rem;
  }
}



/* Desktop POV */
@media only screen and (min-width:1000px){
  .contentBox{
    margin:0 auto 10rem;
  }
}