*{
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: .3s !important;
}

:root {
  --background-color: #ecf7fc !important; /* Default light background color */
  --text-color: black; /* Default light text color */
}

body {
  background-color: var(--background-color) !important;
}

body.dark-mode {
  --background-color: #111 !important;
  --background-color: #05051e !important;
}

.main-app-box{
  display: flex;
  flex-direction: column;
  /* grid-gap:10vh; */
}


.landing{  /* nav landing*/
  padding:.6rem 0;
  /* border: 1px solid; */
}

.contentBox{
  /* padding:1rem; */
  margin:auto;
  width:88%;
  /* border: 1px solid; */
}

.title-light, .title-dark{
  font-size:2rem;
  font-weight: bold;
  /* border:1px solid gray; */
  /* text-align: center; */
  color: #0a4d0a;
  text-shadow: 2px 4px 3px rgba(0,0,0,.1);
}

.title-light{
  color: #0c570c;
}
.title-dark{
  color: #0dcc0d;
}

.descript-light, .descript-dark{
  /* border:1px solid green;  */
  margin:1rem 0;
  text-transform:uppercase;
  font-weight:bold;
}

.descript-light{
  color:#444;
  color:#2a7b2a;
}
.descript-dark{
  color:#aaa;
  color:#0da30d;
}

/* .content{
  margin:2rem 0 0;
} */

#hline{
  color:#f5f5f5;
}



/* iPad POV */
@media only screen and (min-width:700px){
  .contentBox{
    width: 90%;
  }
}



/* Desktop POV */
@media only screen and (min-width:1024px){

  .main-app-box{
    display: flex;
    flex-direction: column;
    /* grid-gap:15vh; */
  }
  
  .landing{  /* nav landing*/
    padding:.5rem 0;
    /* border: 1px solid; */
  }


  .contentBox{
    /* margin:10rem auto; */
    width:72%;
    /* border:1px solid; */
  }

  .title{
    font-size:40px;
  }

  .descript-light, .descript-dark{
    font-size:18px;
  }
}